@model MvcSoporteCF.Models.Equipo

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Localizacion.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacion.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoEquipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoEquipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroSerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caracteristicas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caracteristicas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaBaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaBaja)
        </dd>

    </dl>
</div>


@* Se añade código para presentar los avisos del equipo seleccionado *@
<div>
    <h4>Avisos recibidos del equipo</h4>
    <table class="table">
        <tr>
            <td>Descripción</td>
            <td>Fecha Aviso</td>
            <td>Fecha Cierre</td>
            <td>Observaciones</td>
            <td>Empleado</td>
            <td>Tipo de avería</td>
            <td></td>
        </tr>
        @foreach (var item in Model.Avisos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAviso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCierre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleado.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoAveria.Descripcion)
                </td>
                <td>
                    <div class="hidden-print">
                        @Html.ActionLink("Editar", "Edit", "Avisos", new { id = item.Id }, null) |
                        @Html.ActionLink("Eliminar", "Delete", "Avisos", new { id = item.Id }, null)
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
@* Se añade para poder imprimir la página *@
<div class="hidden-print text-center">
    <a class="btn btn-default" href="javascript:window.print()">Imprimir</a>
</div>

<p>
    @* @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | *@
    @Html.ActionLink("Volver a la Lista", "Index")
</p>
